.profile
  .profile_accountname
    = current_user.display_name

  .profile_avatar
    = image_tag current_user.avatar_image, class: 'avatar_present_img'
       
  .profile_avatar_edit.hidden
    = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
      %img#avatar_img_prev.hidden{:src => "#"}/
      %div
        = f.label :avatar, 'プロフィール写真を変更'
      %div
        = f.file_field :avatar, id: 'post_img'
      %div
        = f.submit '保存'

  .profile_name
    = current_user.name

.container
= link_to '編集', edit_profile_path

= javascript_pack_tag 'post'