%h2= 'SIGN UP'
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    .field_name
      = f.label :name
      %br/
      = f.text_field :name
      %hr/

    .field_email
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
      %hr/

    .field_password
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password"
      %hr/

    .field_confirm
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
      %hr/
      
    .field_actions
      = f.submit "CREATE ACCOUNT"
.log-in       
  = render "devise/shared/links"
