.comment#post-id{data: {post_id: @post.id}}
  .comment_top
    .comment_top_back
      = link_to 'javascript:history.back()' do
        = image_tag 'back.png'
    .comment_top_status
      Comment

  - @comments.each do |comment|
    .comment_body
      .comment_body_left
        .comment_body_left_avatar
          - if comment.user === current_user
            = link_to profile_path do
              = image_tag comment.user.avatar_image
          - else 
            = link_to account_path(comment.user) do
              = image_tag comment.user.avatar_image

      .comment_body_right
        .comment_body_right_name
          = comment.user.display_name
        .comment_body_right_content
          = comment.content

.container
  .btn-secondary.show-comment-form
    コメントをする
  .comment-text-area.hidden
    = text_area_tag :comment_content, '', class: 'sm'
    .btn-secondary.add-comment-button
      コメントをする

      

= javascript_pack_tag 'post'

