.comment#post-id{data: {post_id: @post.id}}
  .post_comment
    %h1 コメント一覧
    - @comments.each do |comment|
      .comment_content
        = comment.content
      .comment_name
        = comment.user.display_name
        .comment_reply
          = comment.replies.ids

        -# - @replies.each do |reply|
        -#   = reply.content

      .comment_reply
        = link_to '返信する', new_post_comment_reply_path(@post.id, comment)


.container
  .comment_add_new
    = link_to 'コメントする', new_post_comment_path(@post)

      

-# = javascript_pack_tag 'post'

