.container
  .profile_top
    .profile_top_back
      = link_to 'javascript:history.back()' do
        = image_tag 'back.png'
    - if user === current_user
      .profile_top_user-name
        = user.display_name
    - else
      .profile_top_account-name
        = user.display_name
    .profile_top_log-out
      - if current_page?(profile_path)
        = link_to 'LOG OUT', destroy_user_session_path, data: { method: 'delete' }

    .profile_top_follow
      .follow_button.hidden.follow
        Follow
      .unfollow_button.hidden.unfollow
        Unfollow

  .profile_avatar
    -# = link_to  edit_profile_path do
    = image_tag user.avatar_image, class: 'avatar_present_img'

    - if user === current_user
      .profile_avatar_edit.hidden
        = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
          %img#avatar_img_prev.hidden{:src => "#"}/
          %div
            = f.label :avatar, 'プロフィール写真を変更'
          %div
            = f.file_field :avatar, id: 'post_img'
          %div
            = f.submit '保存'

  .profile_detail
    .profile_detail_top
      .profile_detail_top_posts
        = user.posts.count
        %p Posts
      .profile_detail_top_follower.follower-count
        = link_to account_followerslists_path(user) do
          = user.followers.count
          %p Followers
  
      .profile_detail_top_following.following-count
        = link_to account_followingslists_path(user) do
          = user.followings.count
          %p Followings

  .profile_post
    - user.posts.each do |post| 
      - post.images.each do |image|
        .profile_post_images
          - if user === current_user
            = link_to post_path(post) do
              = image_tag image.variant(resize: "150x200"), class: 'item'
          - else 
            = image_tag image.variant(resize: "150x200"), class: 'item'


