%h2 LOG IN
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    .field_email
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
      %hr/

    .field_password
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password"
      %hr/
 
    .field_actions
      = f.submit "LOGIN"
.sign-up
= render "devise/shared/links"

.guest
  .guest_attend
    こちらのアカウントをお使いください
  .guest_email
    ・Email: guest@email.com
  .guest_pass
    ・Password: password
