.profile_top
  .profile_top_back
    = link_to 'javascript:history.back()' do
      = image_tag 'back.png'

= form_with(model: @post, url: post_path, method: 'put', local: true) do |f|
  %div
    = f.label :content, '内容'
  %div
    = f.text_area :content
  %div
    = f.submit '保存', class: 'btn-primary'
