.post
  - @posts.each do |post|
    .post_avatar
      - if post.user === current_user
        = link_to profile_path do
          = image_tag post.user.avatar_image
      -else
        = link_to account_path(post.user) do
          = image_tag post.user.avatar_image

    .post_user-name
      %p= post.author_name

    .post_time
      %p= time_ago_in_words(post.display_created_at) + ' ago'

    .post_img  
      - post.images.each do |image|
        = image_tag image

    .post_likes#post-id{data: {post_id: post.id}}
      .post_like.hidden{class: "active-heart-#{post.id}", id: post.id}
        = image_tag 'heart-active.svg'
      .post_like.hidden{class: "inactive-heart-#{post.id}", id: post.id}
        = image_tag 'heart.svg'

    .post_content
      = post.content

    .post_comment
      = link_to 'コメント数件', post_comments_path(post)

= javascript_pack_tag 'post'