.post
  .container
    - @posts.each do |post|
      .post_avatar
        - if post.user === current_user
          = link_to profile_path do
            = image_tag post.user.avatar_image
        -else
          = link_to account_path(post.user) do
            = image_tag post.user.avatar_image

      .post_user-name
        %p= post.author_name

      .post_time
        %p= time_ago_in_words(post.display_created_at) + ' ago'

      .post_img  
        - post.images.each do |image|
          = image_tag image

      .post_likes{:id => "likes-#{post.id}"}
        = render partial: 'likes/like', locals: { post: post}

      .post_comment
        = link_to post_comments_path(post) do
          = image_tag 'comment.png'

      .post_share_twitter
        = link_to "https://twitter.com/share?url=#{request.url}&text=insta" do
          = image_tag 'Vector.png'

      .post_content
        = post.content