.post_show
  .post_show_back
    = link_to 'javascript:history.back()' do
      = image_tag 'back.png'
  .post_body
    .swiper-container
      .swiper-wrapper
        - @post.images.each do |image|
          = image_tag image, class:"swiper-slide"
    
      .swiper-pagination

      .swiper-button-prev
      .swiper-button-next

    = javascript_include_tag 'application.js'

    .post_content
      = @post.content


    .post_edit
      = link_to 'Edit', edit_post_path(@post) 
    
    .post_delete 
      = link_to 'Delete', post_path(@post), data: { method: 'delete', confirm: '本当に削除しますか？' }
