!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Insta
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://unpkg.com/swiper/swiper-bundle.css", :rel => "stylesheet"}/
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  
  %body
    %header
      .header_top
        .header_top_left
          = image_tag 'time.png'

        .header_top_right
          = image_tag 'Mobile'
          = image_tag 'Wifi'
          = image_tag 'Battery'

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value

    %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
    = yield
    