!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Insta
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://unpkg.com/swiper/swiper-bundle.css", :rel => "stylesheet"}/
    

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    %header
      = link_to 'ログイン', new_user_session_path
      =link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
      =link_to 'プロフィール', profile_path
      =link_to 'ホーム', root_path
      =link_to '新規投稿', new_post_path

    %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}

    = yield
    